# 반복문

* 반복문을 사용하는 이유 -> 업무의 최소화, 빠른 퇴근, 나의 체력 안배

특히 데이터 분석에서는 
* 월별/분기별/연도별 산출할 게 있을 경우
* 컬럼별 데이터 검사 및 특이값 이상치 발견
* Rule Base 최적 상품 추천
* ML/DL모델을 파라미터를 바꿔서 반복 시행할때
* 기타 3번 이상 반복 작업 해야하는 반복되는 일들

에서 사용되게 됩니다.

In [1]:
for x in (1,2,3,4,5):
  print(f'{x}번째 입니다')

1번째 입니다
2번째 입니다
3번째 입니다
4번째 입니다
5번째 입니다

In [2]:
#for 문의 구조
for (변수명) in (순회 가능한 객체) :
    수행할 문장1
		수행할 문장2

SyntaxError: ignored

In [3]:
# For 반복문 기초 2
문자열 = 'hello world'
for a in 문자열:
  print(a)

h
e
l
l
o

w
o
r
l
d

In [4]:
# 리스트를 범위로 지정한 예시
list_a = ['하나', '둘','셋','넷','다섯']

for a in list_a:
  print(a)

하나
둘
셋
넷
다섯

In [6]:
#딕셔너리 형태

dic_a = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three'
}

for a in dic_a:
  print(a)

하나
둘
셋

In [8]:
for a in dic_a.items():
  print(a)

('하나', 'one')
('둘', 'two')
('셋', 'three')

In [9]:
for a in dic_a.values():
  print(a)

one
two
three

In [10]:
for a in dic_a.keys():
  print(a)

하나
둘
셋

In [11]:
for a in range(0,5,1):
  print(a)

0
1
2
3
4

In [12]:
for a in range(0,10,2):
  print(a)

0
2
4
6
8

In [13]:
# range 2번 예제

for a in range(10, 0, -1):
  print(a)

10
9
8
7
6
5
4
3
2
1

In [14]:
for i in [1,3,5,7,9]:
  print('홀 수')

홀 수
홀 수
홀 수
홀 수
홀 수

In [16]:
from time import process_time

start = process_time()

for i in range(1,1000):
  print(i)

end = process_time()
print(f'수행하는데 {end-start}초가 걸렸습니다')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
수행하는데 0.23284059099999865초가 걸렸습니다

In [17]:
for i in 'python':
  print(i)

p
y
t
h
o
n

In [18]:
# 반복문 기초 7 - 딕셔너리

d = {"key1" : 1000 , "key2" : 2000, "key3" : 3000}
for i in d.keys():
  print("출력된 문자는", i, "입니다.")

print()

# 반복문 기초 7 - 딕셔너리

d = {"key1" : 1000 , "key2" : 2000, "key3" : 3000}
for i in d.values():
  print("출력된 문자는", i, "입니다.")

print()
# 반복문 기초 7 - 딕셔너리

d = {"key1" : 1000 , "key2" : 2000, "key3" : 3000}
for i in d.items():
  print("출력된 문자는", i, "입니다.")

출력된 문자는 key1 입니다.
출력된 문자는 key2 입니다.
출력된 문자는 key3 입니다.

출력된 문자는 1000 입니다.
출력된 문자는 2000 입니다.
출력된 문자는 3000 입니다.

출력된 문자는 ('key1', 1000) 입니다.
출력된 문자는 ('key2', 2000) 입니다.
출력된 문자는 ('key3', 3000) 입니다.

In [19]:
for i in range(100):
  print(f'{i} 물고기를 잡았습니다')
  if i == 5:
    print('만선입니다. 물고기를 다 잡았습니다')
    break
else :
  print('아직여유')
print('수고하셨스비낟')

0 물고기를 잡았습니다
1 물고기를 잡았습니다
2 물고기를 잡았습니다
3 물고기를 잡았습니다
4 물고기를 잡았습니다
5 물고기를 잡았습니다
만선입니다. 물고기를 다 잡았습니다
수고하셨스비낟

In [20]:
for i in range(4):
  print(f'{i} 물고기를 잡았습니다')
  if i == 5:
    print('만선입니다. 물고기를 다 잡았습니다')
    break
else :
  print('아직여유')
print('수고하셨스비낟')

0 물고기를 잡았습니다
1 물고기를 잡았습니다
2 물고기를 잡았습니다
3 물고기를 잡았습니다
아직여유
수고하셨스비낟

In [21]:
l = [0, 3, -1 ,10]
for x in l:
  if x < 0 :
    print('음수가 발견됨')
    break
else :
  print('음수 발견x')

음수가 발견됨

In [22]:
# 반복문 기초 break - coutinue

# 반복 출력

for i in range(10):

  if i == 3:
    break 

  if i == 1:
    continue
  
print(i) #3

3

In [23]:

for i in range(10): #[0,2,3,4,5,6,7,8,9]

  if i == 3:
    break 

  if i == 1: 
    continue
  
  print(i) #0,2

0
2

In [24]:
#이중 반복문

for i in range(1,10):
  for j in range(1,10):
    print(i,j, i * j)

1 1 1
1 2 2
1 3 3
1 4 4
1 5 5
1 6 6
1 7 7
1 8 8
1 9 9
2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18
3 1 3
3 2 6
3 3 9
3 4 12
3 5 15
3 6 18
3 7 21
3 8 24
3 9 27
4 1 4
4 2 8
4 3 12
4 4 16
4 5 20
4 6 24
4 7 28
4 8 32
4 9 36
5 1 5
5 2 10
5 3 15
5 4 20
5 5 25
5 6 30
5 7 35
5 8 40
5 9 45
6 1 6
6 2 12
6 3 18
6 4 24
6 5 30
6 6 36
6 7 42
6 8 48
6 9 54
7 1 7
7 2 14
7 3 21
7 4 28
7 5 35
7 6 42
7 7 49
7 8 56
7 9 63
8 1 8
8 2 16
8 3 24
8 4 32
8 5 40
8 6 48
8 7 56
8 8 64
8 9 72
9 1 9
9 2 18
9 3 27
9 4 36
9 5 45
9 6 54
9 7 63
9 8 72
9 9 81

In [27]:
#리스트 컴프리핸션

list_i = []
for i in range(1,10):
  list_i.append(i)
print(list_i)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
x = [i for i in range(1,10)]
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
y = [f'{i} * {j} = {i*j}' for i in range(2,10) for j in range(1,10)]
print(y)

['2 * 1 = 2', '2 * 2 = 4', '2 * 3 = 6', '2 * 4 = 8', '2 * 5 = 10', '2 * 6 = 12', '2 * 7 = 14', '2 * 8 = 16', '2 * 9 = 18', '3 * 1 = 3', '3 * 2 = 6', '3 * 3 = 9', '3 * 4 = 12', '3 * 5 = 15', '3 * 6 = 18', '3 * 7 = 21', '3 * 8 = 24', '3 * 9 = 27', '4 * 1 = 4', '4 * 2 = 8', '4 * 3 = 12', '4 * 4 = 16', '4 * 5 = 20', '4 * 6 = 24', '4 * 7 = 28', '4 * 8 = 32', '4 * 9 = 36', '5 * 1 = 5', '5 * 2 = 10', '5 * 3 = 15', '5 * 4 = 20', '5 * 5 = 25', '5 * 6 = 30', '5 * 7 = 35', '5 * 8 = 40', '5 * 9 = 45', '6 * 1 = 6', '6 * 2 = 12', '6 * 3 = 18', '6 * 4 = 24', '6 * 5 = 30', '6 * 6 = 36', '6 * 7 = 42', '6 * 8 = 48', '6 * 9 = 54', '7 * 1 = 7', '7 * 2 = 14', '7 * 3 = 21', '7 * 4 = 28', '7 * 5 = 35', '7 * 6 = 42', '7 * 7 = 49', '7 * 8 = 56', '7 * 9 = 63', '8 * 1 = 8', '8 * 2 = 16', '8 * 3 = 24', '8 * 4 = 32', '8 * 5 = 40', '8 * 6 = 48', '8 * 7 = 56', '8 * 8 = 64', '8 * 9 = 72', '9 * 1 = 9', '9 * 2 = 18', '9 * 3 = 27', '9 * 4 = 36', '9 * 5 = 45', '9 * 6 = 54', '9 * 7 = 63', '9 * 8 = 72', '9 * 9 = 81']

In [30]:
def sumthingFuncthing(i):
  if i % 100 == 0:
    return i
  else :
    return 0

In [31]:
old_list = [100,200,300,101,202,303]
new_list = [sumthingFuncthing(i) for i in old_list]
print(sum(new_list))

600

In [32]:
# 다중인자 리스트 순회

#다중 리스트 for 문
skill = [
    ('고기잡이', 100, 300),
    ('고기팔기', 120, 400),
    ('낚시', 5, 500)
]

for i,j,z in skill:
  print(i,j,z)

고기잡이 100 300
고기팔기 120 400
낚시 5 500

In [33]:
#enumerate
skill = [
    ('고기잡이', 100, 300),
    ('고기팔기', 120, 400),
    ('낚시', 5, 500)
]

for i, (skillname, skilllevel,skillgrade) in enumerate(skill):
  print(i,skillname, skilllevel, skillgrade)

0 고기잡이 100 300
1 고기팔기 120 400
2 낚시 5 500

In [34]:
for i, j in enumerate(skill, 100):
  print(i, j)

100 ('고기잡이', 100, 300)
101 ('고기팔기', 120, 400)
102 ('낚시', 5, 500)

In [35]:
# 반복문 연습문제 1

for a in range(8):
  a += 1
print(a)

8

In [36]:
for a in range(8):
  a *=(a-1)
print(a)

42

In [37]:
for a in range(8):
  a += a # a = a + a
print(a)

14

In [38]:
for a in range(8):
  a *= 1
print(a)

7

In [39]:
# 반복문 문제 5
# 변수 age의 자료형이 정수형일때 숫자 문자형일때 문자가 출력되는 코드

ages = ['one', 8, 'twenty', 40]

for age in ages:
  if type(age) == int:
    print(age, '숫자')
  else:
    print(age, '문자')

one 문자
8 숫자
twenty 문자
40 숫자

# 반복문

In [41]:
a = 1
while a < 10:
  print(a)
  a += 1

1
2
3
4
5
6
7
8
9

In [42]:
숫자 = 0
while True:
  print("현재 숫자는 ",숫자,"입니다")
  숫자 +=1
  if 숫자 >5:
    print("반복문 종료")
    break

현재 숫자는  0 입니다
현재 숫자는  1 입니다
현재 숫자는  2 입니다
현재 숫자는  3 입니다
현재 숫자는  4 입니다
현재 숫자는  5 입니다
반복문 종료

In [43]:
# while else

숫자 = 0
while 숫자 < 5:
  print("현재 숫자는 ", 숫자, "입니다.")
  숫자 += 1
else:
  print("반복문을 종료합니다.")

현재 숫자는  0 입니다.
현재 숫자는  1 입니다.
현재 숫자는  2 입니다.
현재 숫자는  3 입니다.
현재 숫자는  4 입니다.
반복문을 종료합니다.

In [44]:
시간 = 0
현재시간 = int(input("시를 입력해주세요"))
종료시간 = 18
if 현재시간 > 종료시간:
  print('수업이 끝났기 때문에 Q&A시간을 가지겠습니다.')
else:
  while True:
    시간 += 1
    현재시간 += 1
    print(f'{시간}시간이 지나 {현재시간}시가 되었습니다.')
    if 현재시간 == 종료시간:
      print('수업 종료시간이 되었기 때문에 Q&A시간을 가지겠습니다.')
      break

시를 입력해주세요12
1시간이 지나 13시가 되었습니다.
2시간이 지나 14시가 되었습니다.
3시간이 지나 15시가 되었습니다.
4시간이 지나 16시가 되었습니다.
5시간이 지나 17시가 되었습니다.
6시간이 지나 18시가 되었습니다.
수업 종료시간이 되었기 때문에 Q&A시간을 가지겠습니다.

In [46]:
for i in range(2,10):
  for j in range(1,10):
    if j > 5:
      break
    print(f'{i} * {j} = {i*j}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45

In [47]:
# continue

count_amount= [
    (3, 15000),
    (5, 25000),
    (1, 5000),
    (8, 40000),
    (0, 0),
    (2, 10000)
]

for count, amount in count_amount:
  if count < 1:
    continue
  print(f'구매개수는 {count}, 구매가격은 {amount}')

구매개수는 3, 구매가격은 15000
구매개수는 5, 구매가격은 25000
구매개수는 1, 구매가격은 5000
구매개수는 8, 구매가격은 40000
구매개수는 2, 구매가격은 10000

In [48]:
# continue

count_amount= [
    (3, 15000),
    (5, 25000),
    (1, 5000),
    (8, 40000),
    (0, 0),
    (2, 10000)
]

for 구매개수, 구매가격 in count_amount:
  if 구매개수 <1:
    pass
  print(f'구매개수는 {구매개수}, 구매가격은 {구매가격}')

구매개수는 3, 구매가격은 15000
구매개수는 5, 구매가격은 25000
구매개수는 1, 구매가격은 5000
구매개수는 8, 구매가격은 40000
구매개수는 0, 구매가격은 0
구매개수는 2, 구매가격은 10000

In [50]:
i = 2

while i < 10:
  k = 1
  while k < 10:
    print(i, "*", k, "=", i*k)
    k += 1
  i += 1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [51]:
#조건문 문제
#1부터 10까지 짝수를 뽑으려면 어떤 코드를 작성해야할까요?

a = 1

while a < 11:
  if a % 2 == 0:
    print(a)
    a += 1
  else:
    a += 1
  
  if a == 0:
    break

#1. a == 10
#2. a != 10
#3. a < 10
#4. a >= 10
#5. a < 11

2
4
6
8
10

In [52]:
# 조건문 문제
# 실행결과가 0인 코드를 작성하고 싶을때 어떻게 작성해야하는가?

money = 2000
snack = 500
water = 1000
while money !=0:
  if money > 1000:
    money -= water
  elif 0 < money <= 1000:
    money -= snack * 2
print(money)
  
# 6. 답 없음

0

In [53]:
#while문

i = 0 #초기식
while i < 100: #조건식
  print(i, "번째 출력") #반복할 코드
  i += 1 #i를 1씩 증가

0 번째 출력
1 번째 출력
2 번째 출력
3 번째 출력
4 번째 출력
5 번째 출력
6 번째 출력
7 번째 출력
8 번째 출력
9 번째 출력
10 번째 출력
11 번째 출력
12 번째 출력
13 번째 출력
14 번째 출력
15 번째 출력
16 번째 출력
17 번째 출력
18 번째 출력
19 번째 출력
20 번째 출력
21 번째 출력
22 번째 출력
23 번째 출력
24 번째 출력
25 번째 출력
26 번째 출력
27 번째 출력
28 번째 출력
29 번째 출력
30 번째 출력
31 번째 출력
32 번째 출력
33 번째 출력
34 번째 출력
35 번째 출력
36 번째 출력
37 번째 출력
38 번째 출력
39 번째 출력
40 번째 출력
41 번째 출력
42 번째 출력
43 번째 출력
44 번째 출력
45 번째 출력
46 번째 출력
47 번째 출력
48 번째 출력
49 번째 출력
50 번째 출력
51 번째 출력
52 번째 출력
53 번째 출력
54 번째 출력
55 번째 출력
56 번째 출력
57 번째 출력
58 번째 출력
59 번째 출력
60 번째 출력
61 번째 출력
62 번째 출력
63 번째 출력
64 번째 출력
65 번째 출력
66 번째 출력
67 번째 출력
68 번째 출력
69 번째 출력
70 번째 출력
71 번째 출력
72 번째 출력
73 번째 출력
74 번째 출력
75 번째 출력
76 번째 출력
77 번째 출력
78 번째 출력
79 번째 출력
80 번째 출력
81 번째 출력
82 번째 출력
83 번째 출력
84 번째 출력
85 번째 출력
86 번째 출력
87 번째 출력
88 번째 출력
89 번째 출력
90 번째 출력
91 번째 출력
92 번째 출력
93 번째 출력
94 번째 출력
95 번째 출력
96 번째 출력
97 번째 출력
98 번째 출력
99 번째 출력

In [54]:
#While문 예제 2 - 입력하는 값 만큼 반복
count = int(input('반복할 횟수를 입력하세요: '))
 
i = 0
while i < count:     # i가 count보다 작을 때 반복
    print(i, '번째 출력')
    i += 1
    # 감소는 i -= 1

반복할 횟수를 입력하세요: 20
0 번째 출력
1 번째 출력
2 번째 출력
3 번째 출력
4 번째 출력
5 번째 출력
6 번째 출력
7 번째 출력
8 번째 출력
9 번째 출력
10 번째 출력
11 번째 출력
12 번째 출력
13 번째 출력
14 번째 출력
15 번째 출력
16 번째 출력
17 번째 출력
18 번째 출력
19 번째 출력

In [55]:
import random
i = 0

while i != 3:
  i = random.randint(1,6)
  print(i)

1
1
4
1
1
2
1
1
2
4
4
2
3

In [56]:
#while문 예제 4 - 특정 데이터 제거

cust_all = [1,2,1,2]
value = 1

print(cust_all)

while value in cust_all:
  cust_all.remove(value)
print(cust_all)

[1, 2, 1, 2]
[2, 2]

In [57]:
# 실습1. 1~100사이의 숫자를 맞출때까지 반복하는 while문을 작성해주시면 됩니다.
# 내가 입력한 숫자가 컴퓨터 숫자보다 작으면 "값이 작다"
# 내가 입력한 숫자가 컴퓨터 숫자보다 크면 "값이 크다"
# 답이 맞으면 맞았습니다. 

import random

guess_number = random.randint(1,100)
user_input = int(input("숫자 입력"))

while user_input != guess_number:
  if user_input > guess_number:
    print("숫자가 큽니다")
  else:
    print("숫자가 작습니다")
  user_input = int(input('다시 입력'))
else :
  print("정답입니다")

숫자 입력10
숫자가 작습니다
다시 입력50
숫자가 큽니다
다시 입력30
숫자가 큽니다
다시 입력25
숫자가 작습니다
다시 입력26
숫자가 작습니다
다시 입력27
숫자가 작습니다
다시 입력28
숫자가 작습니다
다시 입력29
정답입니다