In [ ]:
# 함수 예제 1 - 함수 생성

def print_coin():
  print("비트코인")

In [ ]:
# 함수 예제 1 - 함수 호출

print_coin() # => "비트코인"

비트코인

In [ ]:
# 함수 예제 2 - 함수 반복

for i in range(100):
  print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [ ]:
# 함수 예제 4 - 연습 문제 1

def message():
  print('A')
  print('B')

message()  # A, B
print('C') # C
message()  # A, B

A
B
C
A
B

In [ ]:
# 함수 예제 5 - 연습 문제 2
# 이렇게 사용하면 함수가 헷갈리게 됨

print('A') #1

def message():
  print("B")

print('C') #2
 
message()  #3

A
C
B

In [ ]:
# 함수 예제 6 - 연습 문제 3

print('A')

def message1():
  print('B')

print('C')

def message2():
  print("D")

message1()
print('E')
message2()

A
C
B
E
D

In [ ]:
# 함수 예제 9 - 숫자형 연습
# 함수안에 있는 변수는 바깥에서 사용할 수가 없다는 것을 !!!

def num(a, b): # a, b를 활용하는 함수 num
  print(a + b) # 위에서 언급한 a, b는 밑에서 사용해 주셔야 합니다.

In [ ]:
def num_str(a,b):
  print(a+b)
num_str('안녕','그래')

안녕그래

In [ ]:
# 함수 예제 11 - 문자형 입력받는 경우
def print_with_smile(string):
  print(string + ":)")

print_with_smile("안녕하세요")

안녕하세요:)

In [ ]:
# 함수 예제 12 - 덧셈 
def print_upper_price(price):
  print(price * 1.3)

print_upper_price(300)

390.0

In [ ]:
# 함수 예제 14 - 세 개의 숫자를 입력받아 가장 큰 수를 출력하는 print_max 함수를 정의하라. 
# 단, if문을 사용해서 수를 비교하시오

def print_max(a,b,c):
  max_val = 0

  if a > max_val:
    max_val = a
  
  if b > max_val:
    max_val = b

  if c > max_val:
    max_val = c

  print(max_val)

In [ ]:
# 함수 예제 15 - 입력된 문자열을 역순으로 출력하는 reverse 함수

def print_reverse(string_a):
  print(string_a[::-1])

print_reverse('python')

nohtyp

In [ ]:
def print_score(score_list):
  print(sum(score_list)/ len(score_list))

In [ ]:
print_score([1,2,3])

2.0

In [ ]:
def even(p_list):
  for i in p_list:
    if i % 2 == 0:
      print(i)

In [ ]:
# 함수 예제 19 - 함수 내부의 결과는 접근이 불가합니다.

def n_plus(n):
  result = n + 1
  return result

In [ ]:
n_plus(3)

4

In [ ]:
def make_url(string):
  url = 'www.'+string+'.com'
  return url

make_url('daum')

'www.daum.com'

In [ ]:
# 함수 예제 21 - 문자열 하나씩 입력받아서 리스트 화

def make_list(string):
  my_list = []
  for i in string:
    my_list.append(i)
  return my_list

make_list("abcd")

['a', 'b', 'c', 'd']

In [ ]:
# 함수 예제 22 - 문자열 대체

def convert_int(string):
  return int(string.replace(',',''))

# replace ',' -> '' 으로 변경

convert_int('123,456')

123456

In [ ]:
# 함수 예제 27
# return에 매개변수 없이 출력이 되면 함수 내 문장과 상관없이 그 값을 빠져나옵니다.

def test_01(a):
  if a == 10:
    return #pass
  else:
    print("10이 아닙니다.")
  
test_01(10)

In [ ]:
# 함수 예제 28 - 함수의 호출 과정(키워드 인수)
# 위치인수는 호출할때 함수의 정의와 인수 순서가 같은 순서로 지정!!
# 위치가 틀어지면 값이 완전히 바뀔수 있다.

def billing(unit_prices, units, fees, tax_rate):
  return (unit_prices * units + fees) * tax_rate
  
x = billing(1000, 10, 500, 1.1)
print(x)

11550.000000000002

In [ ]:
def billing(unit_prices, units, fees, tax_rate):
  return (unit_prices * units + fees) * tax_rate

x = billing(
            unit_prices = 1000, 
            units = 10, 
            fees = 500, 
            tax_rate = 1.1
            )

In [ ]:
# 키워드 + 위치인수

x2 = billing(1000, 10, fees = 500, 1.1)
print(x2)

SyntaxError: ignored

In [ ]:
# 연습문제 6 실행된 값을 무엇일까요?

def exam_func():
  x = 10
  print(f"Value: {x}")

x = 20
exam_func()
print(f"Value: {x}")

Value: 10
Value: 20

In [ ]:
# 연습문제 7 실행된 함수가 어떤값을 가질지 맞춰주세요

def get_abbr(data_list):
  result = []

  for x in data_list:
    result.append(x)

  return result

get_abbr(['Seoul', 'Anyang', 'Incheon', 'Jeju'])

#1. ['Seoul', 'Anyang', 'Incheon', 'Jeju']
#2. ['Seoul', 'Anyang', 'Incheon']
#3. ['Seo', 'Any', 'Inc', 'Jej']
#4. ['Seo']
#5. error

['Seoul', 'Anyang', 'Incheon', 'Jeju']