# 0504 vod python 강의

In [28]:
# 0부터 8까지 출력하는 for루프를 완성해주세요.
# 종료 숫자만 사용해주세요.

for i in range(9) :
	print(i)

0
1
2
3
4
5
6
7
8

In [29]:
# 아래 코드를 완성해주세요.
# 밑줄을 삭제하고 정답을 입력해주세요.

#  첫째. 변수 a, b, c 에 각각 3, 5, 7을 저장하세요.
a = 3
b = 5
c = 7
#  둘째. 변수 result에 a + c * b의 결과를 저장하세요.
result = a + c * b

#  셋째. result를 출력하는 코드를 아래에 작성하세요.
print(result)

38

In [30]:
a = "20"
b = "30"

# a와 b를 숫자로 변환해 결과가 50이 나올 수 있도록 빈칸을 채우세요.
print(int(a) + int(b))

50

In [31]:
# 아래 코드의 빈 칸을 지우고, 코드를 작성해서 완성하세요.

# 첫째. 숫자를 입력받아 num에 숫자를 저장할 수 있도록 빈 칸을 채우세요.
num = int(input("숫자를 입력하세요"))

# 둘째. num을 출력하는 코드를 작성하세요.
print(num)

숫자를 입력하세요5
5

In [32]:
hello = "안녕하세요 코드라이언입니다."

#hello의 길이를 출력하는 코드를 빈칸에 작성하세요.
print(len(hello))

15

In [33]:
#dict의 다양한 기능을 활용해 봅시다.
name = {"길동" : 20, "철수" : 25, "영희" : 27}

#첫째. name dict에서 길동을 삭제하는 코드를 아래에 작성해주세요.
del name['길동']

#둘째. 철수의 나이 25를 27로 수정하는 코드를 아래에 작성해주세요.
name['철수'] = 27

#셋째. name dict 전체를 출력하는 코드를 아래에 작성해주세요.

print(name)

{'철수': 27, '영희': 27}

In [ ]:
orders = ['짜장', '짬뽕','탕수육']

del orders[1]

print(orders)

['짜장', '탕수육']

In [ ]:
orders = ['짜장', '짬뽕','탕수육']

orders.remove('짬뽕')

print(orders)

['짜장', '탕수육']

In [ ]:
len(orders)

2

In [ ]:
num = [2,7,8,9,10]

In [ ]:
sum(num)

36

In [ ]:
add =num[0] + num[1] + num[2] + num[3] + num[4]

In [ ]:
add/len(num)

7.2

In [ ]:
max(num)

10

In [ ]:
min(num)

2

In [ ]:
print({})

{}

In [ ]:
menu = {}

In [ ]:
print(menu)

{'짬뽕': 5000, '탕수육': 9000, '냉면': 6000}

In [ ]:
del menu['짜장']

In [ ]:
menu['짜장'] = 5000

In [ ]:
my = int(input())
you = int(input())

print(my != you)

if my == you:
  print('동기내요')

5
5
False
동기내요

In [ ]:
orders = ['짜장', "짬뽕", '탕수육육']

In [ ]:
menu = { '짜장' : 4000, "짬뽕" : 5000, '탕수육' : 9000}

In [ ]:
food = input("메뉴 골라")

if food in menu:
  print(menu[food],"원입니다")
else :
  print('주문 안됌')

메뉴 골라짜장
4000 원입니다

In [ ]:
if 10 < 90:
  print("true")

true

In [ ]:
i = 0

while i < 6:
  print("true")
  i += 1

true
true
true
true
true
true

In [ ]:
i = 6

while i > 0:
  print(i)
  i -= 1

6
5
4
3
2
1

In [ ]:
i =0
while True:
  print(i)
  i += 1

  if i >3:
    break

0
1
2
3

In [ ]:
i = 0
while i < 10:
  i += 1

  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

In [ ]:
i = 0
while i < 10:
  i += 1

  if i % 2 == 0:
    pass
    print(i)
  print(i)

1
2
2
3
4
4
5
6
6
7
8
8
9
10
10

In [ ]:
i = 0
for i in range(100):
  i += 1
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
for x in range(1,11,3):
  print(x)

1
4
7
10

In [ ]:
for i in range(2,30,2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [ ]:
result = 1

for i in range(1,11):
  result *= i
  print(result)

1
2
6
24
120
720
5040
40320
362880
3628800

In [ ]:
print("*"*5)

*****

In [ ]:
for i in range(10):
  print('*'*5, end= '\n')

*****
*****
*****
*****
*****
*****
*****
*****
*****
*****

In [ ]:
for i in range(10):
  print('*'*5)

*****
*****
*****
*****
*****
*****
*****
*****
*****
*****

In [ ]:
for i in range(1,6):
  print("*"*i)

*
**
***
****
*****

In [ ]:
x = int(input())
for i in range(x,0,-1):
  print(i)

5
5
4
3
2
1

In [ ]:
x = int(input())
for i in range(1,x+1):
  
  if i in [10,20,30]:
    print(i)
  else:
    print(i, end = '\t')

30
1	2	3	4	5	6	7	8	9	10
11	12	13	14	15	16	17	18	19	20
21	22	23	24	25	26	27	28	29	30

In [ ]:
x = int(input())
for i in range(1,x+1):
  
  if i % 10 == 0:
    print(i)
  else:
    print(i, end = ' ')

In [ ]:
import random

In [ ]:
randomNumber = random.sample(range(1,46),6)

In [ ]:
randomNumber

[34, 38, 2, 7, 9, 23]

In [ ]:
much = int(input("몇개살것인가"))

for i in range(much):
  rotto = random.sample(range(1,46),6)
  print(sorted(rotto))

몇개살것인가5
[4, 6, 10, 15, 19, 33]
[12, 22, 28, 33, 35, 37]
[3, 5, 7, 14, 23, 40]
[6, 14, 15, 20, 39, 44]
[12, 14, 15, 21, 34, 38]

In [ ]:
#dict의 다양한 기능을 활용해 봅시다.

#첫째. name dict에서 길동을 삭제하는 코드를 아래에 작성해주세요.


#둘째. 철수의 나이 25를 27로 수정하는 코드를 아래에 작성해주세요.
name['철수'] = 27

#셋째. name dict 전체를 출력하는 코드를 아래에 작성해주세요.

print(name)

In [ ]:
name = {"길동" : 20, "철수" : 25, "영희" : 27}

In [ ]:
del name['길동']

In [ ]:
name

{'철수': 25, '영희': 27}

In [ ]:
print('dsfa' \n)

In [ ]:
print('hello, world! \n my name is')

hello, world!
 my name is

In [ ]:
i

10

In [ ]:
menu['냉면'] = 6000

In [ ]:
menu = { '짜장' : 4000, "짬뽕" : 5000, '탕수육' : 9000}