# args *kwargs 사용하는 이유유

In [1]:
def test(*arge, **kwarg)

SyntaxError: ignored

In [2]:
#어떤 입력이든 에러가 없이 어떤 값이든 받도록 도와주기 위함

In [3]:
# *arg 예제 1

def add(x,y):
  return x + y

add(3,4)

7

In [4]:
add(3,4,7)

TypeError: ignored

In [5]:
def add(*x):
  return sum(x)

add(1,3,5)

9

In [6]:
add(3,5,7,9,11,13)

48

In [7]:
def add_2(*x, y = "0"):
  return sum(x) + int(y) #"3" -> 3

add_2(1,2, y ='3')

6

In [8]:
add_2(1,2, y='3', z ='4')

TypeError: ignored

In [9]:
def param(**kwargs):
  print(kwargs)

In [10]:
param(max_depth = 0.6)

{'max_depth': 0.6}

In [11]:
param(max_depth = 0.6, gamma =3)

{'max_depth': 0.6, 'gamma': 3}

In [14]:
def function(*a, **b):
  print(a)
  print(b)

In [15]:
function(41)

(41,)
{}

In [16]:
function(1,2,3,4)

(1, 2, 3, 4)
{}

In [18]:
function(x = 3)

()
{'x': 3}

In [19]:
function(x=3, y=4)

()
{'x': 3, 'y': 4}

In [20]:
function(1,2,3,4,5,x=3)

(1, 2, 3, 4, 5)
{'x': 3}

# args / kwangs

https://engineer-mole.tistory.com/279

파이썬 함수에서는 인수 개수를 변경할 수 있다.
위치 인수에 대해 첫번째, 두번째는 필수, 세번째 이후는 선택으로 정할 수 있는데, 임의로 개수가 변하는 인수를 가변 길이 인수라 부르고, *를 붙이면 가변 길이 인수가 된다. 지정한 인수가 튜플로 지정이 되고, args라는 변수명을 많이 사용한다.

* 결국 동시에 여러 입력값을 주고 싶을때 사용한다.
* 아무 이름이나 사용해도 되긴한다. *만 붙이면
* Tuple처럼 사용이 가능하다. 굳이 리스트나 튜플로 변경하지 않아도 된다.
* 가변인자는 들어오는 인자의 갯수가 언제나 변할 수 있다.

In [21]:
# args 예시 1

def a_test(a, *args):
  print(a, args)

a_test(1,2,3,4,5,6)

1 (2, 3, 4, 5, 6)

In [22]:
def b_test(a, *kwargs):
  print(a, kwargs)

b_test(1,2,3,4,5,6)

1 (2, 3, 4, 5, 6)

In [25]:
def a_test(a, args):
  print(a, *args)

a_test(1,(2,3,4,5,6))

1 2 3 4 5 6

In [29]:
def c_test(a, *args):
  print(a, *args)
c_test(1,(2,3,4,5,6))

1 (2, 3, 4, 5, 6)

In [30]:
a,b,c = ([1,2],[3,4],[5,6])

In [31]:
print(a)
print(b)
print(c)

[1, 2]
[3, 4]
[5, 6]

In [32]:
data = ([1,2], [3,4],[5,6])
print(*data)

[1, 2] [3, 4] [5, 6]

In [33]:
def print_args(*args):
  print(args)
  for x in args:
    print(x)

print_args(100, True, 'leehojun')

(100, True, 'leehojun')
100
True
leehojun

In [34]:
def func(x,y, *args):
  print(f'첫번째 값은 {x} ')
  print(f'두번째 값은 {y} ')
  if args:
    print(f'세번째 이후의 값은 {args}')

func(1,2)

첫번째 값은 1
두번째 값은 2

In [35]:
func(1,2,3,4,5)

첫번째 값은 1
두번째 값은 2
세번째 이후의 값은 (3, 4, 5)

kwargs

**kwargs는 딕셔너리 형태로 가변인수를 받을 수 있는 방법입니다. 

사용방법은 args와 동일하고, args는 튜플형식으로 받지만
kwargs는 딕셔너리 형태로 받는다는 특징이 있습니다.

In [36]:
def print_kwargs(a, **kwargs):
  print(a)
  print(kwargs)
  for i in kwargs:
    print(i)

print_kwargs(100, name = 'leehojun', age =10)

100
{'name': 'leehojun', 'age': 10}
name
age

In [37]:
def func(x, y, **kwargs):
  print(f"첫번째 인자는 x")
  print(f"두번째 인자는 y")
  if kwargs:
    print(f"세 번째 이후의 인수 : {kwargs}")

func(x=1, y=2)

첫번째 인자는 x
두번째 인자는 y

In [38]:
func(x=1, y=2, z = 3, w= 4)

첫번째 인자는 x
두번째 인자는 y
세 번째 이후의 인수 : {'z': 3, 'w': 4}

args와 kwargs의 응용

앞에는 args형식으로 뒤에는 kwargs형식으로 받게되면 정상적으로 작동합니다. 파라미터를 넣을때 순서를 바꾸거나 혼합하면 에러가 발생됩니다.

In [39]:
def print_args_kwargs(*args, **kwargs):
  print('args:', args)
  for x in args:
    print(x)
  print('kwargs:', kwargs)
  for x in kwargs:
    print(x)
    print(kwargs[x])

inputlist = [100, True, 'leehojun']
inputdic={'score':100, 'name':'leehojun', 'age': '10'}
print_args_kwargs(*inputlist)

args: (100, True, 'leehojun')
100
True
leehojun
kwargs: {}

In [40]:
print_args_kwargs(*inputdic)

args: ('score', 'name', 'age')
score
name
age
kwargs: {}

In [41]:
print('--------')
print_args_kwargs(*inputlist, **inputdic)

--------
args: (100, True, 'leehojun')
100
True
leehojun
kwargs: {'score': 100, 'name': 'leehojun', 'age': '10'}
score
100
name
leehojun
age
10

In [42]:
# 가변 길이 위치 인수와 키워드 인수의 조합

# 가변 길이 위치 인수와 키워드 인수 조합
def func(x, *args, **kwargs):
    print(x)
    print(args)
    print(kwargs)


print("---첫 번째 인수만 지정한 결과---")
func(1)

print("---길이가 변하는 인수를 지정한 결과---")
func(1, 100, 200, 300, a="X", b="Y", c="Z")

---첫 번째 인수만 지정한 결과---
1
()
{}
---길이가 변하는 인수를 지정한 결과---
1
(100, 200, 300)
{'a': 'X', 'b': 'Y', 'c': 'Z'}

In [43]:
def 가격계산(할인율, *구매가_목록):

  return(1-할인율) * sum(구매가_목록)

가격계산(0.25, 10000)

7500.0

In [44]:
가격계산(0.25, 10000,15000,25000)

37500.0

In [45]:
one, two, *three = 1,2,3,4,5

print(one, two, three)

1 2 [3, 4, 5]

In [46]:
#자료형 리스트
a_1 = [1,2,3]
print(*a_1)

1 2 3

In [47]:
a_2 = (1,2,3)
print(*a_2)

1 2 3

In [48]:
def func(x, y, z):
  print(x, y ,z)
  return x + y + z

# 언패킹 되는 함수 x,y,z
param = [1,2,3] # 리스트가 풀리게 된다.
w = func(*param)
print(w)

1 2 3
6

In [49]:
w = func(*[1,2,3])
print(w)

1 2 3
6

In [50]:
def func(x,y,z):
  print(x,y,z)
  return x+y+z

params = {'x' : 1, 'y' :2, 'z' : 3}
w = func(**params)
print(w)

1 2 3
6

In [51]:
def func(x, y, z, a1, b1, c1):
  print(x, y, z, a1, b1, c1)
  return x + y + z + a1 + b1 + c1

param1 = [1,2,3]
param2 = {"a1" : 1, "b1" : 2, "c1" : 3}
w = func(*param1, **param2)
print(w)

1 2 3 1 2 3
12

In [52]:
def data_to_string(y,m,d):
  return str(y) + '년' + str(m) + '월' + str(d) + '일'

In [53]:
date = (2023,5,8)
data_to_string(date[0],date[1],date[2])

'2023년5월8일'

In [54]:
data_to_string(*date)

'2023년5월8일'

In [55]:
data_to_string(*[2023,5,8])

'2023년5월8일'

In [56]:
date = {'y' : 1917, 'm':9, 'd' : 4}

data_to_string(date['y'], date['m'], date['d'])

'1917년9월4일'

In [57]:
data_to_string(**date)

'1917년9월4일'

In [58]:
# 함수를 변수로 다루기

def add_num(x,y):
  return x+ y

x = add_num

z = x(100,200)
print(z)

300

In [67]:
def outer_function():
  count = 0
  def inner_function():
    nonlocal count
    count += 1
    print(f'실행횟수가 {count}회 실행되었습니다')

  return inner_function

func1 = outer_function()

func1()
func1()

실행횟수가 1회 실행되었습니다
실행횟수가 2회 실행되었습니다

In [64]:
# 어떤 함수가 몇번 호출되었는지 확인 실행할때!!

def outer_function():
  """ 외부 함수 """
  count = 0
  def inner_function():
    """내부 함수"""
    nonlocal count # 이 nonlocal 함수는 저장이 가능한 함수 count값을 저장 
    count += 1   
    print(f"실행횟수가 {count}회 실행되었습니다.")

  return inner_function

func1 = outer_function()

# 함수 실행
func1()
func1()
func1()

실행횟수가 1회 실행되었습니다.
실행횟수가 2회 실행되었습니다.
실행횟수가 3회 실행되었습니다.

In [68]:
def add_message(f):

  def new_func():
    print("처리를 시작합니다")
    f()
    print("처리를 종료합니다")

  return new_func

def sample_func():
  print("sample_func 함수 처리 실행")

deco_func = add_message(sample_func)

deco_func()

처리를 시작합니다
sample_func 함수 처리 실행
처리를 종료합니다

람다식

In [69]:
def add(x,y):
  return x + y
def sub():
  pass
def div():
  pass
def mul():
  pass

calculator = [add, sub, div, mul]
print(calculator[0](10,20))

30

우선 add, sub, div, mul이라는 사칙연산을 수행하는 함수를 선언해주었습니다. 그 다음 각 함수들의 이름을 calculator라는 배열에 넣어주었고, print로 0번째 배열을 호출하였더니 함수 add의 결과값인 30이 나오게 되었습니다.

우리가 일반적으로 사용할 수 있는 변수의 위치에 ( )(괄호)만 사용하지 않는다면 변수처럼 사용할 수 있으며, 호출할 때는 '( )'(괄호)를 사용해줍니다.

그럼 lambda함수는 왜 익명함수 일까요? 이름이 있는 함수들과는 다르게 매우 간결하게 작성할 수 있기 때문입니다.

In [70]:
#람다식 람다함수
lambda 매개변수 : 결과

In [71]:
#예제

제곱 = lambda  x: x**2
제곱(3)

9

In [73]:
(lambda x: x**2)(3)

9

In [74]:
def f(x,y):
  return x + y

print(f(1,4))

5

In [75]:
(lambda x,y : x+y)(3,4)

7

In [76]:
func = lambda x : "*" + str(x) + '*'
func("바나나")

'*바나나*'

# Map 함수

lambda 함수와 가장 많이 조합되어 이용하는 함수입니다. 간단히 설명드리도록 할게요.

방금 위에서 만들었던 매개변수를 제곱하여 return하는 함수를 만들어 볼겁니다. 그런데 아까 위에서 작성했던 예제는 하나의 값만 받고 하나의 값만 리턴할 수 있었죠?

여러값이 들어오게 된다면 어떻게 해야할까요?

In [77]:
def 제곱(x):
  return x **2
list(map(제곱, [1,2,3,4]))

[1, 4, 9, 16]

In [78]:
list(map(lambda x : x**2, [1,2,3,4]))

[1, 4, 9, 16]

In [79]:
ex = [1,2,3,4,5]
f = lambda x: x **2

print(list(map(f,ex)))

[1, 4, 9, 16, 25]

# 위 코드에서는 먼저 ex라는 리스트를 먼저 만들고, 입력된 값을 제곱하는 람다함수 f를 생성하였습니다.
# 결국 Map은 mapping을 생각해보면 편한데, map(함수 이름, 리스트 데이터)라는 형태에 맞춰 함수 F에 ex의 요소를 매핑하라라는 뜻이다.

# 1.1 제너레이터 사용

# 파이썬 3.x 버전부터는 반드시 list(map(f, ex)) 리스트를 꼭 붙여야 리스트 형태로 자료 붙여지게되요
# map(f, ex) -> list(map(f, ex))
# 제너레이터 장점은 시퀀스 자료형의 데이터를 처리할때 실행 시점의 값을 생성해서 효율적으로 메모리를 관리할 수 있게 합니다.

In [80]:
ex = [1,2,3,4,5]
f = lambda x : x**2
for value in map(f,ex):
  print(value)

1
4
9
16
25

In [81]:
new_list = []
ex = [1,2,3,4,5]
f = lambda x : x ** 2
for value in map(f,ex):
  new_list.append(value)

In [82]:
new_list

[1, 4, 9, 16, 25]

In [83]:
ex = [1,2,3,4,5]
f = lambda x : x ** 2

print(list(map(f, ex)))

[1, 4, 9, 16, 25]

In [84]:
ex = [1,2,3,4,5]
[x ** 2 for x in ex]

[1, 4, 9, 16, 25]

In [85]:
# lambda함수의 filter 기능
# 조건문

list(filter(lambda x: x>50, range(100)))

[51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [ ]:
# map함수와 비슷하지만 자주 언급되는 reduce함수

reduce함수는 map함수와 용법은 다른고, 형제같은 함수가
reduce 함수를 모두 적용한 다음에, 모든 값을 통합하는 함수입니다.

In [87]:
from functools import reduce

print(reduce(lambda x,y : x+y, [1,2,3,4,5]))

#1번째 계산
#x = 1 y = 2 결과 3

#2번째 계산
#x = 3 y = 3 결과 6

#3번째 계산
#x = 6 y = 4 결과 10

#4번째 계산
#x = 10 y = 5 결과 15

15

In [88]:
x = 0
for y in [1,2,3,4,5]:
  x += y

print(x)

15

In [ ]:
def service_price():
  service = input('서비스의 종류를 입력하세요 기본/프리미엄/올인원')
  valueprice = input('부가세 포함여부? y/n')
  if valueprice == 'y':
    if service == '기본':
      result = 300000 * 1.1
    elif service == '프리미엄':
      result = 600000 * 1.1
    elif service == '올인원':
      result = 1000000 * 1.1
  else:
    print("비용이 발생되지 않았습니다.")
  print(f"{result}만원 입니다.")
  #print(f"{round(result,1)}만원입니다.)

In [ ]:
##########################################
# 스페이스 어드벤처 게임
# 벤 & 쉬무엘 만듦
##########################################
 
# 플레이어 환영 메시지
def doWelcome():
    # 텍스트 출력하기
    print("탐험가 여러분을 환영합니다!")
    print("혼란스러운 상태에서 잠을 깬 여러분은 아무것도 떠오르지 않습니다.")
    print("방문까지 겨우 기어가 손잡이를 돌렸더니 문이 열립니다.")
    print("밖으로 나가 봐도 모든 것이 낯설기만 합니다.")
    print("바깥 풍경은 척박하고 황량한 붉은 흙만이 흩날릴 뿐입니다.")
    print("우주복을 입은 자신을 발견하곤 모든 것이 궁금해집니다.")
 
# 장소: 출발점
def doStart():
    # 텍스트 출력하기
    print("주위를 둘러봐도 붉은 사막과 바위 더미와 먼지뿐입니다.")
    print("여러분 앞에는 이상하게 생긴 팔각형 구조물이 있습니다.")
    print("가까이 가니 삐 소리가 들립니다. 그리곤 멈춥니다. 아니, 계속됩니다.")
    # 플레이어 행동 선택 프롬프트
    choice = " "
    while not choice in "PSBR":
        print("여러분이 할 수 있는 일:")
        print("P = 바위 더미를 조사한다")
        print("S = 구조물에 접근한다")
        print("B = 삐 소리가 나는 곳으로 간다")
        print("R = 도망간다!")
        choice = input("무엇을 하고 싶으세요? [P/S/B/R]").strip().upper()
    # 행동 실행하기
    if choice == 'P':
        doBoulders()
    elif choice == 'S':
        doStructure()
    elif choice == 'B':
        doBeeping()
    elif choice == 'R':
        doRun()

# 장소: 바위 더미
# 인벤토리 시스템 구현용 개발자 메모 
# 이곳이 열쇠가 숨겨진 장소가 됩니다.
def doBoulders():
    # 텍스트 출력하기
    print("정말인가요? 그건 바위 더미입니다.")
    print("크고 무겁고 단순한 바위입니다.")
    # 시작 위치로 돌아가기
    doStart()

# 장소: 구조물
def doStructure():
    # 텍스트 출력하기
    print("여러분은 이상한 구조물을 조사합니다.")
    print("안에서는 오싹하면서도 기이한 소리가 들립니다.")
    print("문도 없고 창문도 없습니다.")
    print("아니, 문처럼 보여서 한번 열어 보려고 합니다.")
    print("그리고 삐 소리가 들립니다. 어디서 나는 소리일까요?")
    # 플레이어 행동 선택 프롬프트
    choice = " "
    while not choice in "SDBR":
        print("여러분이 할 수 있는 일:")
        print("S = 시작 지점으로 돌아간다")
        print("D = 문을 연다")
        print("B = 삐 소리가 나는 곳으로 간다")
        print("R = 도망간다!")
        choice = input("무엇을 하고 싶으세요? [S/D/B/R]").strip().upper()
    # 행동 실행하기
    if choice == 'S':
        doStart()
    elif choice == 'D':
        doStructureDoor()
    elif choice == 'B':
        doBeeping()
    elif choice == 'R':
        doRun()
 
# 장소: 구조물 입구
# 인벤토리 시스템 구현용 개발자 메모 
# 열쇠가 있을 때만 열 수 있습니다.
def doStructureDoor():
    # 텍스트 출력하기
    print("문은 잠긴 듯합니다.")
    print("둥근 구멍이 보입니다. 열쇠 구멍일까요?")
    print("그쪽으로 손을 내밀지만 파란빛이 번쩍이며 닫혀 버립니다!")
    print("계획한 대로는 잘 안 되는군요.")
    # 플레이어 행동 선택 프롬프트
    choice = " "
    while not choice in "SR":
        print("여러분이 할 수 있는 일:")
        print("S = 구조물로 돌아간다")
        print("R = 도망간다!")
        choice = input("무엇을 하고 싶으세요? [S/R]").strip().upper()
    # 행동 실행하기
    if choice == 'S':
        doStructure()
    elif choice == 'R':
        doRun()
 
# 장소: 삐 소리 탐색하기
def doBeeping():
    pass
 
# 플레이어가 도망가기를 선택하기
def doRun():
    # 텍스트 출력하기
    print("한동안 달립니다.")
    print("그리곤 허공에 뜬 자신을 발견합니다. 아래로, 아래로, 아래로.")
    print("아주 깊은 골짜기로 떨어지며 다시는 빛을 보지 못하리라는 생각이 듭니다.")
    print("그리 용감한 행동은 아니었네요. 그렇죠?")
    # 사망, 게임 끝내기
    gameOver()

# 게임 끝내기
def gameOver():
    print("게임 오버!")
 
# 실제 게임 시작은 이곳에서
# 환영 메시지 출력하기
doWelcome()
# 게임 시작하기
doStart()