#패킹과 언패킹 복습

In [1]:
# 패킹 : 여러 개의 데이터를 컬렉션(리스트, 튜플, 딕셔너리)으로 묶어 변수에 대입

In [2]:
# 언패킹 : 언패킹은 컬렉션(리스트, 튜플, 딕셔너리) 속의 요소들을 여러 개의 변수에 나누어 대입하는 것이다.

test = *[1,2,3] -> # 1 2 3
def abc(a,b,c)

SyntaxError: ignored

In [ ]:
# 언패킹 시 변수의 갯수와 요소의 갯수가 일치해야 한다. 
# 불필요한 값을 언더바를 사용하여 생략할 수도 있다.

# a, _, _, d, e = numbers  # 필요 없는 요소를 _ 변수에 대입

In [3]:
num = (1,2,3,4,5)

In [4]:
a,b,c,d,e = num

In [5]:
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [6]:
num

(1, 2, 3, 4, 5)

In [7]:
_, _, _, d, e = num

In [8]:
d

4

In [ ]:
e

In [9]:
# *의 목적은 
# 1) 남은 요소를 모두 대입하기 위함

# 덧셈을 하는 함수를 만들었는데
def sum_def(*arg):
  return sum(arg)

sum_def(1,2,3,4,10,40,50)

# 2) 오류가 나지 않게 하기 위함

110

In [10]:
# 변수 내에서 설명

# 남은 요소 대입받기
# 언패킹 시, 좌변의 변수 중 하나에 별 기호(*)를 붙이면, 
# 남은 요소 전체를 리스트에 담아 대입한다.

In [11]:
num = (1,2,3,4,5)

a, b, *rest = num
print(a,b,rest)

1 2 [3, 4, 5]

In [12]:
a, *rest, b = num
print(rest)

[2, 3, 4]

In [13]:
# 위치 인자와 언패킹 사용하기
# 함수에 인자를 순서대로 넣는 방식은 위치 인자(positional argument)라고
# 한다. 변수를 할당 받을때 일반적으로 사용하는 방식이다.

In [14]:
print(10,20,30)

10 20 30

In [15]:
x = [10,20,30]
print(x)

[10, 20, 30]

In [16]:
print(*x)

10 20 30

In [ ]:
# 가변인자(*args) 만들기

def 함수이름(*매개변수):
    코드

In [17]:
def print_numbers(*args):
  for arg in args:
    print(arg)

In [20]:
print_numbers(1,2,3,4)

(1, 2, 3, 4)
1
2
3
4

In [ ]:
def print_numbers(*args):
  print(args)
  for arg in args:
    print(arg)

In [21]:
test = [1,2,3,4]
for arg in test:
  print(arg)

1
2
3
4

In [22]:
# 패킹 예시
def print_numbers(*args):
  print(args)
  for arg in args:
    print(arg)

In [23]:
x = [10]
print_numbers(*x)

(10,)
10

In [24]:
x = [10]
print_numbers(x)

([10],)
[10]

In [25]:
# 키워드 인자 사용하기 딕셔너리 패킹

# 매개변수에 이름으로 일치시키는 인자를 키워드 인자라고 한다.
# 함수를 호출할 때 인자의 값 뿐만 아니라 
# 그 이름까지 명시적으로 지정해서 전달하는 방식이다. 
# 인자의 순서와 용도를 매번 기억하지 않아도 되서 편리하다. -> 키워드를 알아야 하니까 불편하다

In [27]:
def personal_info(name, age, address):
  print('이름 : ', name )
  print('나이 : ', age )
  print('주소 :', address)

personal_info(name = '홍길동')

TypeError: ignored

In [29]:
list = *[10,20,30]
a = 10
b = 20
c = 30

SyntaxError: ignored

In [30]:
x = {'name': '홍길동', 
     'age': 30, 
     'address': '경기도 시흥시'}

personal_info(**x)

이름 :  홍길동
나이 :  30
주소 : 경기도 시흥시

In [31]:
# 키워드 가변인자(**kwargs) 만들기

# 키워드 인자와 딕셔너리 언패킹의 개념은 키워드 가변인자함수를 만들때 사용한다.

In [34]:
#자료 형이 딕셔너리 일때

def personal_info(**kwargs):
  print(kwargs)
  for kw, arg in kwargs.items() : #keys values
    print(kw, ': ', arg, sep='')

In [35]:
personal_info(name = '홍길동')

{'name': '홍길동'}
name: 홍길동

In [36]:
personal_info(name='홍길동', 
              age = 30,
              address='경기도 시흥시')

{'name': '홍길동', 'age': 30, 'address': '경기도 시흥시'}
name: 홍길동
age: 30
address: 경기도 시흥시

In [37]:
x = {'name': '홍길동'}

personal_info(**x)

{'name': '홍길동'}
name: 홍길동

In [38]:
y = {'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
personal_info(**y)

{'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
name: 홍길동
age: 30
address: 서울시 용산구 이촌동

In [39]:
def personal_info(**kwargs):
  if 'name' in kwargs:
    print('이름: ', kwargs['name'])
  if 'age' in kwargs:
    print('나이:', kwargs['age'])

In [40]:
personal_info(name = '홍길동',
              age = 30,
              address='경기도 시흥시')

이름:  홍길동
나이: 30

In [41]:
# 예제 1.

arg_printer(a=4, 2, 4, 5)

#python은 위치인수 뒤에 키워드인수가 오게 됩니다. 
#함수를 호출할때는 이점을 염두에 두어야합니다.
#다음과 같이 사용하면 에러가 나게 됩니다. 
#SyntaxError: positional argument follows keyword argument

SyntaxError: ignored

In [42]:
#위치 인자 (non-default)
#위치 인자 (default)
#/ (위치 인자들 어딘가에 존재한다)
#위치 가변 인자 (*args)
#키워드 전용 인자 (기본값 유무는 상관 없다)
#키워드 전용 가변 인자 (**kwargs)

In [ ]:
# 예제 2.
# 결론적으로 *args 및 *kwargs 를 사용하여 변수를 패킹할 수 있습니다.

In [43]:
def arg_printer(*args):# 패킹 * 튜플 형태로 패킹된다.
  print(args)

list = [1,4,5]
arg_printer(*list) # 언패킹

(1, 4, 5)

In [ ]:
# 영어의 2중 부정과 동일하고 -> 자료형태는 튜플로 변경

In [44]:
# 예제 3.

lst = [1,4,5]
tpl = ('a','b', 4)

arg_printer(*lst, *tpl, 5, 6) # 언패킹

(1, 4, 5, 'a', 'b', 4, 5, 6)

In [45]:
# 예제 4. 다음과 같이 사용하면 언패킹 되었다가 다시 패킹되는 형태로 변경된다.

def arg_printer(**kwargs):
   print(kwargs)

dct = {'param1':5, 'param2':8}
arg_printer(**dct)

{'param1': 5, 'param2': 8}

In [47]:
# 예제 5. 
# 또한 추가 키워드 인수를 사전과 함께 전달하면 결합되어 
# kwargs 딕셔너리에 저장됩니다.
dct = {'param1':5, 'param2':8} 
arg_printer(param3=9, **dct)

{'param3': 9, 'param1': 5, 'param2': 8}

In [ ]:
# 우리가 다룬 내용을 요약하면 다음과 같습니다.

#함수에는 위치 인수(값으로만 선언됨)와 키워드 인수(이름과 기본값으로 선언됨)인 
#두 가지 유형의 인수가 있습니다.

#함수가 호출될 때 위치 인수에 대한 값이 제공되어야 합니다. 
#키워드 인수는 선택 사항입니다(지정하지 않으면 기본값을 사용함).

#함수 내에서의 *args는 명시적으로 정의되지 않은 위치 인수를 수집하여 튜플에 저장합니다.

#함수 내에서의 **kwargs는 *args와 동일하지만 키워드 인수에 대해 수행합니다. 
#키워드 인수는 이름-값 쌍으로 저장되기 때문에 딕셔너리에 저장됩니다.

#Python은 위치 인수가 키워드 인수를 따르는 것을 허용하지 않습니다. 
#따라서 먼저 위치 인수를 선언한 다음 키워드 인수를 선언합니다. # *args **kwargs

In [48]:
# 연습 문제 1.

# 다음 함수 식을 고려해서
# 두개 이상의 숫자를 합산하는 다음 함수를 만드세요 *arg 사용

# 함수로 구현
def addition(a, b):
   return a + b
print(addition(3,4))

7

In [49]:
def addition_args(*args):
  result = 0
  #args = (1,4)
  for i in args:
    result += i
  return result

In [50]:
print(addition_args(1,4,5,3,2))

15

In [51]:
# 에러를 고치자 3
def mixed_params(age, name="아이유", *args, address, **kwargs, ):
    print("name=",end=""), print(name) 
    print("args=",end=""), print(args)
    print("age=",end=""), print(age)
    print("kwargs=",end=""), print(kwargs)
    print("address=",end=""), print(address)

mixed_params(20, "정우성", "01012341234", "male", mobile="01012341234", address="seoul")

name=정우성
args=('01012341234', 'male')
age=20
kwargs={'mobile': '01012341234'}
address=seoul

In [ ]:
# 에러를 고치자 3
def mixed_params(age, name="아이유", *args, address, **kwargs):
    print("name=",end=""), print(name) 
    print("args=",end=""), print(args)
    print("age=",end=""), print(age)
    print("kwargs=",end=""), print(kwargs)
    print("address=",end=""), print(address)

mixed_params(20, "정우성", "01012341234", "male", mobile="01012341234", address="seoul")

{'name': '홍길동'}

NameError: ignored

In [ ]:
#위치 인자 (non-default)
#위치 인자 (default)
#/ (위치 인자들 어딘가에 존재한다)
#위치 가변 인자 (*args)
#키워드 전용 인자 (기본값 유무는 상관 없다)
#키워드 전용 가변 인자 (**kwargs)