## 데이터프레임 인덱스 설정

In [1]:
import pandas as pd
import numpy as np

In [ ]:
#데이터 프레임 속성값 직접 ㅇ비

In [2]:
df = pd.DataFrame(np.arange(9).reshape(3,3))
df

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [3]:
df.index=['a','b','c']
df

   0  1  2
a  0  1  2
b  3  4  5
c  6  7  8

2. 내부 컬럼(열) 이용

In [5]:
df2 = pd.DataFrame([
    ['a',0,1,2],
    ['b',3,4,5],
    ['c',6,7,8]
])
df2

   0  1  2  3
0  a  0  1  2
1  b  3  4  5
2  c  6  7  8

In [6]:
df2.set_index(0, inplace=True) 
# drop=True (인덱스로 만든 열을 기존 데이터프레임에서 지울 것인지)
                               # append=False (기존 인덱스를 삭제할 것인지)
                               # inplace=False (원본 객체를 변경할 것인지): deprecated
df2

   1  2  3
0
a  0  1  2
b  3  4  5
c  6  7  8

In [7]:
### 3. 데이터프레임의 컬럼을 재설정
df2.reset_index()

# drop=False (인덱스로 만든 열을 기존 데이터프레임에서 지울 것인지)
                  # inplace=False (기본 인덱스를 삭제할 것인지)

   0  1  2  3
0  a  0  1  2
1  b  3  4  5
2  c  6  7  8

In [8]:
df2 #원본 데이터를 변하지 않음

   1  2  3
0
a  0  1  2
b  3  4  5
c  6  7  8

mbti 살펴보기

In [9]:
import pandas as pd

In [10]:
mbti = [
    'ISTJ',
    'INFJ',
    'ISTJ',
    'ESTP',
    'ENTP',
    'ISFP',
    'ISTJ',
    'INFJ',
    'ISTJ',
    'ESTJ',
    'ENFJ',
    'INFJ',
    'ENFP',
    'ESFP',
    'ENFJ',
    'INTJ',
    'INTP',
    'ISTP',
    'ISFJ',
    'ISTJ',
    'INTP',
    'ISFJ',
    'ESTJ',
    'ISFP',
    'ENFP',
    'ENTJ',
    'ISTP',
    'ISTP',
    'ENFJ',
    'ENFP',
    'ESTJ',
    'ENTP',
    'ISFP',
    'ENTP',
    'ESFP',
    'ISFJ',
    'ISTJ',
    'ENTJ',
    'ENFJ',
    'ISFP',
    'ENFJ',
    'ENFP',
    'ISFJ',
    'ISFJ',
    'ENFP',
    'ESTJ',
    'ENTJ'
]

In [11]:
ds_mbti =pd.DataFrame(mbti)

In [12]:
ds_mbti.head()

      0
0  ISTJ
1  INFJ
2  ISTJ
3  ESTP
4  ENTP

In [13]:
ds_mbti.describe()

           0
count     47
unique    14
top     ISTJ
freq       6

In [14]:
ds_mbti

       0
0   ISTJ
1   INFJ
2   ISTJ
3   ESTP
4   ENTP
5   ISFP
6   ISTJ
7   INFJ
8   ISTJ
9   ESTJ
10  ENFJ
11  INFJ
12  ENFP
13  ESFP
14  ENFJ
15  INTJ
16  INTP
17  ISTP
18  ISFJ
19  ISTJ
20  INTP
21  ISFJ
22  ESTJ
23  ISFP
24  ENFP
25  ENTJ
26  ISTP
27  ISTP
28  ENFJ
29  ENFP
30  ESTJ
31  ENTP
32  ISFP
33  ENTP
34  ESFP
35  ISFJ
36  ISTJ
37  ENTJ
38  ENFJ
39  ISFP
40  ENFJ
41  ENFP
42  ISFJ
43  ISFJ
44  ENFP
45  ESTJ
46  ENTJ

In [15]:
mbti_l = ds_mbti[ds_mbti[0].str.contains('I')]

In [16]:
mbti_E = ds_mbti[ds_mbti[0].str.contains('E')]

In [17]:
mbti_l.describe()

           0
count     24
unique     7
top     ISTJ
freq       6

In [18]:
mbti_T= ds_mbti[ds_mbti[0].str.contains('T')]

In [19]:
df_mbti = pd.DataFrame([
    [4, 4, 4, 5, 4, 5, 4, 4, 1, 1, 1, 1, 1, 1, 1, 1], # INFP
    [4, 4, 5, 4, 5, 4, 4, 4, 1, 1, 1, 1, 1, 1, 1, 1], # ENFP
    [4, 5, 4, 4, 4, 4, 4, 5, 1, 1, 1, 1, 1, 1, 1, 1], # INFJ
    [5, 4, 4, 4, 4, 4, 4, 4, 5, 1, 1, 1, 1, 1, 1, 1], # ENFJ
    [4, 5, 4, 4, 4, 4, 4, 5, 3, 3, 3, 3, 2, 2, 2, 2], # INTJ
    [5, 4, 4, 4, 4, 4, 5, 4, 3, 3, 3, 3, 2, 2, 2, 2], # ENTJ
    [4, 4, 4, 4, 4, 5, 4, 4, 3, 3, 3, 3, 2, 2, 2, 5], # INTP
    [4, 4, 5, 4, 5, 4, 4, 4, 3, 3, 3, 3, 2, 2, 2, 2], # ENTP
    [1, 1, 1, 5, 3, 3, 3, 3, 2, 2, 2, 2, 4, 5, 4, 5], # ISFP
    [1, 1, 1, 1, 3, 3, 3, 3, 2, 2, 2, 2, 5, 4, 5, 4], # ESFP
    [1, 1, 1, 1, 3, 3, 3, 3, 2, 2, 2, 2, 4, 5, 4, 5], # ISTP
    [1, 1, 1, 1, 3, 3, 3, 3, 2, 2, 2, 2, 5, 4, 4, 4], # ESTP
    [1, 1, 1, 1, 2, 3, 2, 2, 3, 5, 3, 5, 4, 4, 4, 4], # ISFJ
    [1, 1, 1, 1, 2, 3, 2, 2, 5, 3, 5, 3, 4, 4, 4, 4], # ESFJ
    [1, 1, 1, 1, 2, 3, 2, 2, 3, 5, 3, 3, 4, 4, 4, 4], # ISTJ
    [1, 1, 1, 1, 2, 3, 5, 2, 5, 3, 5, 3, 4, 4, 4, 4]  # ESTJ
    ],
    columns=['INFP', 'ENFP', 'INFJ', 'ENFJ', 'INTJ', 'ENTJ', 'INTP', 'ENTP', 'ISFP', 'ESFP', 'ISTP', 'ESTP', 'ISFJ', 'ESFJ', 'ISTJ', 'ESTJ'],
    index=['INFP', 'ENFP', 'INFJ', 'ENFJ', 'INTJ', 'ENTJ', 'INTP', 'ENTP', 'ISFP', 'ESFP', 'ISTP', 'ESTP', 'ISFJ', 'ESFJ', 'ISTJ', 'ESTJ'])

In [20]:
df_mbti.loc['INFP','ENTP']

4

In [21]:
# a = 내 mbti
# b = 상대 mbti
# df_mbti.loc[a, b]

# 정형 데이터: Excel, CSV, TXT
# 반정형 데이터: JSON, XML, HTML
# 비정형 데이터: 이미지, 한글(.hwp)

In [22]:
#엑셀 다루기

In [ ]:
df_excel = pd.read_excel('raw.xlsx')

In [ ]:
df_excel_sheet1 = pd.read_excel('xlsx', sheet_name='Sheet1')

In [ ]:
df_excel_sheet1 = pd.read_excel('xlsx', sheet_name=[0,'Sheet2'])

In [ ]:
df_excel_sheet4 = pd.read_excel('rawData_sheetplus.xlsx', sheet_name=None) # 시트를 선택해서 가져오기
df_excel_sheet4

In [ ]:
df_excel_sheet4 = pd.read_excel('rawData_sheetplus.xlsx', sheet_name=None) # 시트를 선택해서 가져오기
df_excel_sheet4

In [23]:
df_excel['손실'] = [10000, 20000, 30000, 40000, 50000, 60000]
df_excel

NameError: ignored

In [ ]:
df_excel.to_excel('exit.xlsx')

In [ ]:
df_excel.to_excel('exit2.xlsx', sheet_name='first') # 엑셀 파일 내보내기 + 시트 이름

In [ ]:
csv.to_csv('csv_test.csv')

In [ ]:
csv = pd.read_csv('/content/sample_data/california_housing_test.csv') # encoding: utf-8, cp949, euc-kr
                                                                      # sep: 구분자를 입력(",", " ", "\t") csv, ssv, tsv

In [ ]:
txt = pd.read_table('raw.txt') # read_table

'''
txt 파일이지만 그 안에 내용을 보면 csv, tsv, ssv 되어있는 경우가 많습니다.
'''

In [ ]:
excel_header= pd.read_excel('sadflj.xlsx', header = 0 )

In [ ]:
excel_header

In [ ]:
excel_header = pd.read_excel('rawData_sheetplus.xlsx', names=['연차', '연도', '매출', '순이익', '직원수']) # names의 숫자와 컬럼의 숫자가 동일해야함

In [ ]:
excel_header = pd.read_excel('rawData_sheetplus.xlsx', header=None, names=['연차', '연도', '매출', '순이익', '직원수'])

In [ ]:
excel_index = pd.read_excel('rawData_sheetplus.xlsx', index_col='연차')
excel_index

In [ ]:
excel_cols = pd.read_excel('rawData_sheetplus.xlsx', usecols=['연차', '매출']) # 데이터가 커서 원하는 컬럼만 불러오고 싶을 때
excel_cols

In [ ]:
excel_rows = pd.read_excel('rawData_sheetplus.xlsx', skiprows=3, names=['연차', '연도', '매출', '순이익', '직원수']) # 지울 행을 지정해서 그 행을 제외하고 가져오기, skiprows=갯수, 앞에서부터 스킵
excel_rows                                                         # skiprows=[3] 세 번째 값 제외 (n번째 값만 제외) / [3, 4] 가능

In [ ]:
excel_rows_ = pd.read_excel('rawData_sheetplus.xlsx', skipfooter=3, header=0) # 지울 행을 지정해서 그 행을 제외하고 가져오기, skipfooter=갯수, 뒤에서부터 스킵
excel_rows_

In [ ]:
shop = pd.read_json('data.json') # default: utf-8, cp949(windows 생성된 파일)
shop

In [ ]:
xml = pd.read_xml('raw_data.xml')
xml

In [24]:
from PIL import Image
import matplotlib.pyplot as plt

In [25]:
gary = Image.open('thumbnailmg.jpg')
gary

FileNotFoundError: ignored

In [ ]:
pixel = np.array(gary)

In [ ]:
pixel.shape # (510 x 510)

In [ ]:
plt.imshow(pixel)

In [ ]:
g = gary.convert('L')
g

In [ ]:
plt.imshow(pixel[::-1])

In [ ]:
pixel2 = pixel[270:470, 190:370]
pixel2.shape

In [ ]:
plt.hist(pixel.ravel(), 256, [0, 256])
plt.show()

In [ ]:
# 이미지 불러왔을 때
print(gary.filename)
print(gary.format)
print(gary.size)
print(gary.mode)
print(gary.width)
print(gary.height)

In [ ]:
# 설완님 코드
cropped_gary = gary.crop([150,250,400,500])
cropped_gary.show()

In [ ]:
from PIL import ImageFilter

In [ ]:
blur_gary = gary.filter(ImageFilter.BLUR)
blur_gary.show() # imshow()

In [ ]:
contour_gary = gary.filter(ImageFilter.CONTOUR)
contour_gary.show() # 배열은 imshow()