In [1]:
import pandas as pd
from scipy import stats

In [2]:
df = pd.DataFrame({
    '하루 커피 몇 잔' : [3,2,1,3,2,3,4,1,1,1,2,3,4,4,3,3,3,2,2,2]
})
df.head()

   하루 커피 몇 잔
0          3
1          2
2          1
3          3
4          2

In [4]:
result = stats.ttest_1samp(df['하루 커피 몇 잔'], 2, alternative = 'greater')
result

TtestResult(statistic=2.0151143927408035, pvalue=0.02913177370632008, df=19)

In [5]:
result.statistic

2.0151143927408035

In [6]:
result.pvalue

0.02913177370632008

In [7]:
result = stats.ttest_1samp(df['하루 커피 몇 잔'], 2, alternative = 'less')
result

TtestResult(statistic=2.0151143927408035, pvalue=0.9708682262936799, df=19)

In [8]:
import pandas as pd
from scipy import stats

In [9]:
# 정규분포를 따른 다는 가정
df = pd.DataFrame({
    "Agroup":[80,69,78,88,100,85,83,81,80,91,95,59,59,49,69,39,49,59,90,90,91,93,79,78,68,58,78,88,88],
    "Bgroup":[78,86,83,91,90,87,85,82,88,100,78,88,78,58,100,97,76,81,90,85,78,91,84,81,80,78,68,68,69]
})
df.head(3)

   Agroup  Bgroup
0      80      78
1      69      86
2      78      83

In [14]:
ans = stats.ttest_ind(df['Agroup'], df['Bgroup'], alternative = 'less', equal_var=True)
ans

Ttest_indResult(statistic=-1.8619610028956959, pvalue=0.03392942991277301)

In [15]:
ans = stats.ttest_ind(df['Agroup'], df['Bgroup'], alternative = 'less', equal_var=False)
ans

Ttest_indResult(statistic=-1.8619610028956959, pvalue=0.034487526990986284)

In [16]:
ans = stats.ttest_ind(df['Agroup'], df['Bgroup'],alternative='greater')
ans

Ttest_indResult(statistic=-1.8619610028956959, pvalue=0.966070570087227)

In [17]:
ans = stats.ttest_ind(df['Agroup'], df['Bgroup'],alternative='two-sided')
ans

Ttest_indResult(statistic=-1.8619610028956959, pvalue=0.06785885982554601)

In [13]:
ans.statistic

-1.8619610028956959

In [18]:
import pandas as pd
from scipy import stats

In [19]:
# 정규분포를 따른 다는 가정
df = pd.DataFrame({
    "pre":[80,69,78,88,100,85,83,81,80,91,95,59,59,49,69,39,49,59,90,90,91,93,79,78,68,58,78,88,88],
    "post":[78,86,83,91,90,87,85,82,88,100,78,88,78,58,100,97,76,81,90,85,78,91,84,81,80,78,68,68,69]
})
df.head(3)

   pre  post
0   80    78
1   69    86
2   78    83

In [20]:
stats.ttest_rel(df['pre'],df['post'],alternative= 'less' )

TtestResult(statistic=-2.001419278712032, pvalue=0.027561772708950674, df=28)

In [21]:
stats.ttest_rel(df['pre'],df['post'],alternative= 'greater' )

TtestResult(statistic=-2.001419278712032, pvalue=0.9724382272910493, df=28)

In [ ]:
ans.