In [1]:
# 파일의 현재 위치 확인
# 작업을 하다보면 input / output

import os
os.getcwd()

'/content'

In [2]:
os.chdir('/content')

In [3]:
os.listdir()

['.config', 'sample_data']

In [4]:
list_dir = os.listdir()
print(list_dir)

['.config', 'sample_data']

In [10]:
f = open('a.txt', 'w')
f.write('안녕하세요')

5

In [6]:
f.close()

In [13]:
f = open('a.txt', 'r')
f.read()

'안녕하세요'

In [12]:
f.seek(0)

0

In [14]:
f = open('a.txt', 'a')
f.write('추가되는 문장이에요')

10

In [15]:
f.close()

In [16]:
f = open('a.txt','r')
f.read()

'안녕하세요추가되는 문장이에요'

In [17]:
# with문으로 객체를 만들지 않고 파일 출력하기

f = open('abcde.txt', 'w')
f.write('abcde')

# 파일을 지우려고 하면 파일이 열려있어 꼭 close로 닫은 후에 지워야함
# 계속 열고닫고 하면 번거로울수 있음

f.close()

In [ ]:
# 그래서 사용하는 방법이 with문의 사용

with open(파일이름, 파일열기모드) as f:
  f에 수행할 명령

In [18]:
with open('text.txt','w') as f:
  f.write('테스트 중입니다')

In [ ]:
# 만약 한글 파일로 된 오류가 떳을때나 인코딩오류가 났을때

import codecs 
f = codecs.open('한글파일.txt', 'r', 'utf-8')
f.read()

# 2. 문자열 복습/처리

# 문자열 연결 - join
* 구분문자.join([문자열1, 문자열2, 문자열3])
* 공백으로 연결하거나 쉼표로 연결할 수 있음

In [19]:
#join 예제
text_list = ['Heloo', 'World', 'Python']
test1 = ''.join(text_list)
print(test1)

HelooWorldPython

In [20]:
#join 예제
text_list = ['Heloo', 'World', 'Python']
test1 = '_'.join(text_list)
print(test1)

Heloo_World_Python

# 문자열 치환하기 -replace

In [22]:
text1 = 'Simple is Best'
text2 = text1.replace(' ', '') #제거하럯 / 변경할것
print(text1)
print(text2)

Simple is Best
SimpleisBest

In [23]:
text1 = 'Simple is Best'
text2 = text1.replace(' ', '__',1) #제거하럯 / 변경할것
print(text1)
print(text2)

Simple is Best
Simple__is Best

# 문자열 포함 여부 확인

* in 은 리스트나 set에 특정 요소가 포함됐는지 판정

In [24]:
text = "Simple is Best"
contains = "book" in text
print(contains)

False

In [26]:
text = "Simple is Best"
contains = "I" in text
print(contains)

False

In [27]:
# 공백은 텍스트일까? 포함되는건가?
text = "Simple is Best"
contains = " " in text
print(contains)

True

In [28]:
# 영문 Kim Korea
text = "Simple is Best"
#lower() -> 대문자 -> 소문자
contains = "SIMPLE".lower() in text.lower()

In [29]:
print(contains)
#simple

True

# 문자열 일부 추출

* 문자열 시퀸스 이므로 인덱스를 지정해 문자 추출 가능
* 가장 마지막 문자는 -1 로 가능

In [ ]:
text = 'abcdegf'
x1 = text[0]

# 문자열 공백 처리
* strip 함수

In [30]:
text = '  abcdefds'
stripped = text.strip()
print( '*' + stripped + '*')

*abcdefds*

In [31]:
text = ' abcdefg '

#오른쪽 공백 제거 
r_stripped = text.rstrip()
print(r_stripped)

#왼쪽 공백 제거 
l_stripped = text.lstrip()
print(l_stripped)

 abcdefg
abcdefg

In [32]:
text.upper()

' ABCDEFG '

In [33]:
text.lower()

' abcdefg '

In [34]:
text = "Time is Zero. Simple is Best"
l = text.split(" ")
print(l)

['Time', 'is', 'Zero.', 'Simple', 'is', 'Best']

# 문자열 0 으로 채우기

In [ ]:
# CSV 데이터를 읽어들일때;; 문자 -> 숫자 -> 문자로 받을때의 문제점

# 고객식별자 / 고객정보 / Key
# '00000092' -> 92 김진환 - '00000092' 데이터 분석가

# SQL / Python -> CSV

In [39]:
# num = 00000092
num_str = "92"
zfilled = num_str.zfill(8)
print(zfilled, type(zfilled))

00000092 <class 'str'>

In [ ]:
num = 92 

# DUP -> 키값이 중복된다.

# 150만 ~200만

# A table      B table            -> 구매데이터 
# 92 김진환      92 김진환 기저귀          92 김진환 기저귀 
#                                    92 김진환 맥주
#             92 김진환 맥주

In [ ]:
#          기저귀 구매.  맥주 구매
# 92 김진환       1         1

# 특정 문자열 포함 행만 추출하기

문자열의 split과 리스트 컴프리핸션을 사용하면 특정 문자열을 포함하는 행만 추출 가능

1. split을 사용하여 텍스트를 줄바꿈, 1행씩 리스트로 얻을 수 있음
2. 리스트 컴프리핸션을 사용하여 특정 문자열을 포함하는 행 추출
3. 원래 텍스트로부터 특정한 문자열을 포함하는 행만 추출한 텍스트를 만들 수 있다.

In [40]:
# 미션 - 데이터가 있는 행을 찾고 싶다.

text = """저는 김철수 입니다.
        반갑습니다. 저는 데이터 분석가 입니다.
        데이터로 일하는 것은 즐거운 일인데
        더 열심히 배우겟습니다. 감사합니다. """

lines = text.split('\n')

In [41]:
lines

['저는 김철수 입니다.',
 '        반갑습니다. 저는 데이터 분석가 입니다.',
 '        데이터로 일하는 것은 즐거운 일인데',
 '        더 열심히 배우겟습니다. 감사합니다. ']

In [42]:
line_list = [line for line in lines if '데이터' in line]

In [43]:
line_list

['        반갑습니다. 저는 데이터 분석가 입니다.', '        데이터로 일하는 것은 즐거운 일인데']

In [44]:
new_text = '\n'.join(line_list)
print(new_text)

        반갑습니다. 저는 데이터 분석가 입니다.
        데이터로 일하는 것은 즐거운 일인데

# 텍스트의 빈 행 삭제하

In [45]:
text = """저는 김철수 입니다.

        반갑습니다. 저는 데이터 분석가 입니다.

        데이터로 일하는 것은 즐거운 일인데
        
        더 열심히 배우겟습니다. 감사합니다. """

In [46]:
lines = text.split('\n')

In [47]:
line_list = [line for line in lines if line.strip() != "" ]

In [48]:
line_list

['저는 김철수 입니다.',
 '        반갑습니다. 저는 데이터 분석가 입니다.',
 '        데이터로 일하는 것은 즐거운 일인데',
 '        더 열심히 배우겟습니다. 감사합니다. ']

In [49]:
new_text = '\n'.join(line_list)

In [50]:
new_text

'저는 김철수 입니다.\n        반갑습니다. 저는 데이터 분석가 입니다.\n        데이터로 일하는 것은 즐거운 일인데\n        더 열심히 배우겟습니다. 감사합니다. '

In [51]:
new_text.replace(" ", "")

'저는김철수입니다.\n반갑습니다.저는데이터분석가입니다.\n데이터로일하는것은즐거운일인데\n더열심히배우겟습니다.감사합니다.'

In [52]:
print(new_text)

저는 김철수 입니다.
        반갑습니다. 저는 데이터 분석가 입니다.
        데이터로 일하는 것은 즐거운 일인데
        더 열심히 배우겟습니다. 감사합니다.

In [53]:
import random
letters = 'abcdefg'

rl = random.choices(letters, k=4)

In [54]:
rl

['c', 'd', 'e', 'g']

# 정규표현식

# 정규표현식 사용하기

import re

# 정규표현식 함수
findall : 일치하는 문자열을 리스트로 반환
split : 일치하는 문자열로 원래 문자열을 분할한 리스트로 반환
sub : 일치하는 문자열을 치환한 문자열을 반환
search : 일치하는 문자열이 있으면 Match 객체를 반환

# 정규표현식
# Chapter1
. 줄바꿈 이외의 임의의 모든 문자
... 줄바꿈 이외의 임의의 3문자 
^ 문자열의 시작
^... 문자열 시작에서 3문자 
$ 문자열의 끝
...$ 문자열 끝에서 3문자 
* 직전 정규표현식을 0회이상 반복
ab*c abc또는 ac에 일치
+ 직전 정규표현식을 1회이상 반복
ab+c abc에 일치
? 직전 정규표현식이 0~1회 존재
abcd? abc또는 abcd에 일치
| 둘중 하나
ab|cd ab또는 cd에 일치

# Chapter2
(...) 소괄호 안을 그루핑

[...] 대괄호 안의 문자 중 하나
[^...] 대괄호 안의 문자 중 하나도 없음

x(ab|cd) x로 시작해 ab또는 cd에 일치 (ab|cd 그룹)

\ 직후 정규표션식 기호 무시
\\ \에 일치

{n} 직전 정규표현식의 반복 횟수
{n,} 직전 정규표현식의 최소 반복 횟수
{n,m} 직전 정규표현식의 반복 횟수 범위

A{3} A가 3회 반복되면 일치
A{3, }A가 3회 이상 반복되면 일치
A{3, 6}A가 3~6회 이상 반복되면 일치

In [ ]:
# findall 함수를 사용하면 지정한 조건에 일치하는 문자열을 리스트로 얻을 수 있다.

# re.함수(r) -> raw문자열이라고 
# 이스케이프가 필요한 메타 문자를 무시하는 효과가 있음
# 사용할때는 앞에 r을 붙이는것이 좋음

In [55]:
import re

text1 = "In the face of ambiguity, refuse the temptation to guess"
text2 = "tx ti tp te t1 t2"

match_list = re.findall(r't.', text1)

In [56]:
print(match_list)

['th', 'ty', 'th', 'te', 'ta', 'ti', 'to']

In [57]:
text2 = "tx ti tp te t1 t2 t# t- t~"
match_list = re.findall(r"t.", text2)
print(match_list)

['tx', 'ti', 'tp', 'te', 't1', 't2', 't#', 't-', 't~']

# sub 함

In [62]:
# 정규표현식으로 치환하기

# sub함수를 사용하면 정규표현식으로 치환할 수 있습니다.

text = "Beautiful is better than ugly"
#sub(대체 해야할 문자 / 대체 할 문자 / 데이터)

replaced = re.sub(r'\s',"_", text)
print(replaced)

Beautiful_is_better_than_ugly

In [59]:
# 정규표현식으로 치환하기

# sub함수를 사용하면 정규표현식으로 치환할 수 있습니다.

import re

text = "Beautiful is better than ugly"
#sub(대체 해야할 문자 / 대체 할 문자 / 데이터)
replaced = re.sub(r" a-zA-Z", "_", text) #공백문자는 \s로도 쓰입니다.
print(replaced)

Beautiful is better than ugly

# 정규표현식 그룹

In [63]:
# 정규표현식의 그룹은 데이터 분석 할때 자주 사용하는 기능으로
# 원하는 객체를 그루핑할 수 있다라는 장점이 있습니다.

# 제품 -> [0-9]+
# 카탈로그 코드 [0-9A-Z]+
# 제품명 .*
# 구분 문자 공백

# ([0-9]+) +([ 0-9 A-Z]+) +(.*)

#홈쇼핑#
text = """
101 CF001 커피 
102 CF002 커피(대용량)
201 TE01 홍차
202 TE02 홍차(대용량)
"""
#group 1 
#group 2
#group 3
items = re.findall(r'([0-9]+) +([ 0-9 A-Z]+) +(.*)', text)
print(items)

[('101', 'CF001', '커피 '), ('102', 'CF002', '커피(대용량)'), ('201', 'TE01', '홍차'), ('202', 'TE02', '홍차(대용량)')]

In [64]:
# 정규표현식과 일치하는 부분 확인

# re 모듈의 serach함수는 정규표현식과 일치하는 첫 번째 위치 정보가 저장된 Match 객체를 반환
# Match 객체를 사용하면 일치하는 위치의 문자열과 함께 시작 및 종료 위치 정보 확보 가능

# match객체
# start , end , group, groups 튜플 그룹

import re

text = 'Error should never pass silently'

m_obj = re.search(r'p...', text)

print(m_obj.group())
print(m_obj.start())
print(m_obj.end())

pass
19
23

In [65]:
import re

text = 'Errors should never pass silently'
# 1번 그룹 - n.... n다음에 4글자가 아무거나
# 2번 그룹 - P... n다음에 3글자가 아무거나

m_obj = re.search(r"(n....) (p...)", text)
print(m_obj.group())
print(m_obj.groups())

never pass
('never', 'pass')

In [66]:
print(m_obj.start()) # 시작 인덱스
print(m_obj.end()) # 끝 인덱스

14
24

In [67]:
# Greedy, Lazy 사용하기
# 정규표현식이 패턴에 일치하는 문자열을 추출할때
# 일치하는 최대한의 범위를 추출하는 상태를 greedy(탐욕)이라고 한다.

# 최소한은  Lazy라고 하는데 파이썬은 기본적으로 greedy하지만
# ?를 붙이는 순간 Lazy해진다. 

import re

text = 'In the face of ambiguity, refuse the temptation to guess'

match_list = re.findall(r't.*\s', text)
print(match_list)

['the face of ambiguity, refuse the temptation to ']

In [68]:
match_list = re.findall(r't.*?\s', text)
print(match_list)

['the ', 'ty, ', 'the ', 'temptation ', 'to ']

# 정규표현식 실습

[우리가 자주 사용할 함수]

* findall - 일치하는 문자열을 리스트로 반환
* split - 일치하는 문자열로 원래 문자열을 분할한 리스트로 반환
* sub - 일치하는 문자열을 치환한 문자열을 반환
* search - 일치하는 문자열이 있으면 match 객체를 반환

[대표적인 정규표현식]

* . 줄바꿈 이외의 임의의 문자
* ^ 문자열 시작
* $ 문자열의 끝, 또는 문자열 끝 줄바꿈 직전
* * 직전 정규표현식은 0회 이상 반복
* + 직전 정규표현식을 1회 이상 반복
* ? 직전 정규표현식이 0회 또는 1회 존재

[자주 사용하는 문자 클래스]
# 꼭 기억해야할 정규표현식
* \d 숫자와 매치 [0-9]와 같다.
* \D 숫자가 아닌것과 매치 [^0-9]와 같다.

* \s whitespace문자와 매치 [ \t\n\r\f\v]와 같음. 맨앞의 빈칸은 공백을 의미
* \S whitespace문자가 아닌것과 매치 [^ \t\n\r\f\v]와 같음.

* \w 문자+숫자와 매치 [a-zA-Z0-9_]와 같습니다.
* \W 문자+숫자가 아닌 문자와 매치 [^a-zA-Z0-9_]와 같습니다.

* \\ 메타 문자가 아닌 일반 문자 역슬래시와 매치. 매타 문자 앞에 W를 붙이면 일반문자를 위미

In [69]:
# 주소록입니다. 이후 강의에서 모두 이 search_target을 사용합니다.
search_target = '''
hello world
hello  world
hello, world
Hello World

hello world hello

hello
hallo
hollo
heallo
yellow

Monday Tuesday Wednesday Thursday Friday Saturday Sunday

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ01234567891011121314151617181920
aaabbcaaabbcabcabc
aaa bb c aaa bb c a b c a b c
aaa1bb2c3aaa4bb5c6

[123456]
123[456]789
abc[def]ghij

010-9091-5491
010-5043-2901
010-5050-40409
010-49492-3131
010 2913 3132
01019133829
064-721-3213
010.1913.3829


paul-korea@naver.com
paul@naver.com
leehojun@gmail.com
hojun.lee@gmail.com
test.test@go.go.go


https://github.com/LiveCoronaDetector/livecod
github.com/LiveCoronaDetector/livecod
https://github.com/LiveCoronaDetector

I never dreamed about success, I worked for it.
Do not be afraid to give up the good to go for the great.

hello (hello world) hello
hello \\hello world// hello
^^
:)

[(name, leehojun), (age, 10), (height, 180), (email, paul-lab@naver.com)]
{name : leehojun, age : 10, height : 180, email : paul-lab@naver.com}

가나다라마바사아자차카타파하
ㄱㄴㄷㄹㅁㅂㅅㅇㅈㅊㅋㅌㅍㅎ
안녕_하세요
안녕-하세요
수사
수박
수상
동해 물과 백두산이 마르고 닳도록 하느님이 보호하사 우리나라 만세
'''

In [70]:
#숫자 대표 정규표현식

regex1 = r'\d'

#글자 /숫자 대표 정규표현식

regex = r'\w'

import re
result = re.findall(regex1, search_target)
print('\n'.join(result))

0
1
2
3
4
5
6
7
8
9
1
0
1
1
1
2
1
3
1
4
1
5
1
6
1
7
1
8
1
9
2
0
1
2
3
4
5
6
1
2
3
4
5
6
1
2
3
4
5
6
7
8
9
0
1
0
9
0
9
1
5
4
9
1
0
1
0
5
0
4
3
2
9
0
1
0
1
0
5
0
5
0
4
0
4
0
9
0
1
0
4
9
4
9
2
3
1
3
1
0
1
0
2
9
1
3
3
1
3
2
0
1
0
1
9
1
3
3
8
2
9
0
6
4
7
2
1
3
2
1
3
0
1
0
1
9
1
3
3
8
2
9
1
0
1
8
0
1
0
1
8
0

In [ ]:
# Hello 단어를 검색봅시다.
regex = r'hello'

# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)
print("\n".join(result))

In [71]:
# ^ 맨처음
m1 = re.findall('^Life', 'Life is too short')
print('m1 결과 :' , m1)

m1 결과 : ['Life']

In [72]:
# 맨처음에 와야하는 것 ^
m2 = re.findall("^is", "Life is too short")
print("m2 결과 : ", m2)

m2 결과 :  []

In [73]:
# 맨 마지막에 와야하는 것
m1 = re.findall("short$", "Life is too short")
m2 = re.findall("short$", "Life is too short. So what?")
 
print("m1 결과 : ", m1)
print("m2 결과 : ", m2)

m1 결과 :  ['short']
m2 결과 :  []

In [75]:
import re
regex = re.compile('ema.l')

result = re.findall(regex, search_target)
print('\n'.join(result))

email
email

In [76]:
# 특정문자 6개 .(공백포함) 
import re
regex = re.compile('......')

# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)
print("\n".join(result))

hello
hello
 world
hello,
 world
Hello
hello
world
heallo
yellow
Monday
 Tuesd
ay Wed
nesday
 Thurs
day Fr
iday S
aturda
y Sund
abcdef
ghijkl
mnopqr
stuvwx
yzABCD
EFGHIJ
KLMNOP
QRSTUV
WXYZ01
234567
891011
121314
151617
181920
aaabbc
aaabbc
abcabc
aaa bb
 c aaa
 bb c
a b c
aaa1bb
2c3aaa
4bb5c6
[12345
123[45
abc[de
f]ghij
010-90
91-549
010-50
43-290
010-50
50-404
010-49
492-31
010 29
13 313
010191
064-72
1-3213
010.19
13.382
paul-k
orea@n
aver.c
paul@n
aver.c
leehoj
un@gma
il.com
hojun.
lee@gm
ail.co
test.t
est@go
.go.go
https:
//gith
ub.com
/LiveC
oronaD
etecto
r/live
github
.com/L
iveCor
onaDet
ector/
liveco
https:
//gith
ub.com
/LiveC
oronaD
etecto
I neve
r drea
med ab
out su
ccess,
 I wor
ked fo
Do not
 be af
raid t
o give
 up th
e good
 to go
 for t
he gre
hello
(hello
 world
) hell
hello
\hello
 world
// hel
[(name
, leeh
ojun),
 (age,
 10),
(heigh
t, 180
), (em
ail, p
aul-la
b@nave
r.com)
{name
: leeh
ojun,
age :
10, he
ight :
 180,
email
: paul
-lab@n
aver.c
가나다라마바
사아자차카타
ㄱㄴㄷㄹㅁㅂ
ㅅㅇㅈㅊㅋㅌ
안녕_하세요
안녕-하세요
동해 물과
백두산이 마
르고 닳도록
 하느님이
보호하사 우
리나라 만세

In [ ]:
# 여러가지 중에 택 1해서 찾기

regex = re.compile(r'h[aeyo]llo')

# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)
print("\n".join(result))

In [ ]:
# 여러가지 중에 택 1해서 찾기 - 대문자

regex = re.compile(r'h[a-f]l..') # a-f사이 중에 1개

# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)
print("\n".join(result))

In [ ]:
# 여러가지 중에 택 1해서 찾기 - 대문자

regex = re.compile(r'[a-zA-Z0-9가-힣]') # a-f사이 중에 1개

# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)
print("\n".join(result))

In [ ]:
# 서브패턴

# 소괄호를 사용하면 정규식 일부 패턴을 그룹화 할 수 있습니다.
# 이 정규식 그룹은 그룹 캡처기능이라고 불리는데
# 정규식 그룹은 번호가 매겨진 캡처그룹을 생성하고, 괄호안에 정규식 부분과
# 일치하는 문자열을 찾고, 저장합니다.
# 그 캡처 번호를 사용하여 문자열 부분을 불러와 사용할 수 있습니다.

# 주의할점은 캡처에 정규식 패턴이 저장된다고 착각할 수 잇지만
# 캡처는 패턴으로 찾은 문자열을 저장한다.
 
# ?:는 그룹이지만 캡처를 저장하지 않음 

# 빈칸에 정규표현식을 적습니다.
regex = re.compile('(on|ues|rida)') #그룹 1로 3개 중 1개 매칭되는 패턴

# 그룹 안에 매칭이 된 것만 출력이 되는 형태

# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)
print("\n".join(result))

In [ ]:
# 서브패턴

# 빈칸에 정규표현식을 적습니다.
regex = re.compile('(Mon|Tues|Fri)day') #그룹 1로 3개 중 매칭되는 패턴

# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)
print("\n".join(result))

In [ ]:
# 서브패턴

# 빈칸에 정규표현식을 적습니다.
regex = re.compile('(?:Mon|Tues|Fri)day') #그룹 1로 3개 중 매칭되는 패턴

# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)
print("\n".join(result))

In [ ]:
# 서브패턴 

import re

text = "tomato potato"

p1 = "(tom|pot)ato"    # 그룹으로 묶인건 그 단어 (tom|pot)을 출력
p2 = "(?:tom|pot)ato"  # 그룹으로 묶이지 않은것은 캡처하지 않겠다고 매칭 tomato와 potato가 출력

m1 = re.findall(p1, text)
m2 = re.findall(p2, text)

print("m1 결과 : ", m1)
print("m2 결과 : ", m2)

In [ ]:
# 수량자 휴대폰 번호 입력하기

# 빈칸에 정규표현식을 적습니다.
regex = re.compile('[0-9]{2,3}[-.* ][0-9]{3,4}[-.* ][0-9]{4,5}') 
#hello 뒤에 world가 오는 것

# 1. [0에서 9까지]{2,3개}[- 나 . 앞에 있는 문자 0~N개]
# 2. [0에서 9까지]{4개}[- 나 . 앞에 있는 문자 0~N개]
# 3. [0에서 9까지]{4개}[- 나 .]

# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)
print("\n".join(result))

In [ ]:
# 수량자

# 빈칸에 정규표현식을 적습니다.
regex = re.compile('[0-9a-zA-Z]{2,3}[-. *][0-9]{3,4}[-. *][0-9]{4}') #hello 뒤에 world가 오는 것

# 1. [0에서 9까지]{2~3개}[- 나 . 앞에 있는 문자 0~N개]
# 2. [0에서 9까지]{3~4개}[- 나 . 앞에 있는 문자 0~N개]
# 3. [0에서 9까지]{4개}

# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)

In [ ]:
# 캐릭터 클래스

# 빈칸에 정규표현식을 적습니다.
regex = re.compile('\W') # 글자가 아닌것 
regex = re.compile('\D') # 숫자가 아닌것 
regex = re.compile('\S') # 공백이 아닌것 

# 1. [0에서 9까지 + 영문자]{+@}
# 2. [0에서 9까지 + 영문자].
# 3. [영문자_ 1개 이상]

# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)
print("\n".join(result))

In [ ]:
# 이스케이프 문자

# 이스케이프 문자

# 빈칸에 정규표현식을 적습니다.
regex = re.compile('\[.*]') #대괄호([]) 안에 감싸여진 문자열 0~N개

# 정규표현식과 일치하는 부분을 모두 찾아주는 파이썬 코드입니다.
import re
result = re.findall(regex, search_target)
print("\n".join(result))